@page "/achievements"

@inject Core.IScoreReporitory repository

<div class="md:mx-8">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        @if (achievementsList != null && scores != null)
        {

            @foreach (var achievement in achievementsList)
            {
                <Achievement InnerAchievement="achievement"
                             UnlockerScores="scores.Where(x => achievement.TryToUnlockAchievement(x))" />
            }
        }
    </div>
</div>

@code{

    private IEnumerable<Core.Achievement> achievementsList;
    private IEnumerable<Core.Score> scores;

    protected async override Task OnInitializedAsync()
    {
        achievementsList = Core.AchievementFactory.Achievements;

        scores = await repository.GetScores();
    }
}
