
<div class="grid grid-cols-4 md:grid-cols-8 gap-2 mb-10">
    @foreach (var card in Game.PlayerHand.Cards)
    {
        <div class="flex justify-center">
            <Card @ref="ComponentRef" InnerCard="card" OnCardSelected="CardSelected" />
        </div>
    }
</div>

@code{
    string info = "";

    [CascadingParameter]
    public Core.Game Game { get; set; }

    [Parameter]
    public EventCallback<Core.Card> OnCardSelected { get; set; }

    private void CardSelected(Core.Card card)
    {
        info = "card selected " + (card?.Number ?? 0).ToString();

        foreach (var component in ComponentRefs)
        {
            component.Update(card);
        }

        OnCardSelected.InvokeAsync(card);
    }

    private List<Card> ComponentRefs = new List<Card>();
    Card ComponentRef
    {
        set { ComponentRefs.Add(value); }
    }

    public void CardHasBeenPlaced()
    {
        foreach (var component in ComponentRefs)
        {
            component.Update(null);
        }
    }

    public void Refilled()
    {
        StateHasChanged();
    }
}