
<div class="grid grid-cols-4 md:grid-cols-8 gap-2 mb-10">
    @foreach (var card in Cards)
    {
        <div class="flex justify-center">
            <Card InnerCard="card" CardSelected="OnCardSelected" />
        </div>
    }
</div>
<p>
    @SelectedCard?.Number
</p>

@code{
    [Parameter]
    public IEnumerable<Core.Card> Cards { get; set; }

    [CascadingParameter] Core.Card SelectedCard { get; set; }

    private void OnCardSelected(Core.Card card)
    {
        StateHasChanged();
    }
}