@using System.Timers;

@implements IDisposable

<div class="inline-block px-4 lg:px-6 py-1 lg:py-2 font-semibold rounded-lg text-xl
             lg:text-4xl text-white bg-green-700 font-mono border-2 border-green-900">
    @Time.ToString()
</div>

@code {

    public Core.Time Time { get; private set; }

    private Timer timer;

    protected override void OnInitialized()
    {
        Time = new Core.Time(0);
        timer = new Timer()
        {
            Interval = 1000
        };

        timer.Elapsed += TimerOnElapsed;
        timer.Start();
    }

    private void TimerOnElapsed(object sender, ElapsedEventArgs e)
    {
        Time.NextSecond();
        StateHasChanged();
    }

    public void Stop()
    {
        timer.Stop();
    }

    public void Dispose()
    {
        if (timer != null)
        {
            timer.Dispose();
        }
    }
}
