@inject Core.IScoreReporitory repository

<div class="modal h-screen w-full fixed left-0 top-0 flex justify-center items-center bg-black bg-opacity-50 @(Hidden ? "hidden" : "")"
     style="z-index:2;">
    <div class="bg-white rounded shadow-lg mx-8 max-w-xl">
        <!-- modal header -->
        <div class="bg-green-500 text-white border-b-2 border-green-700 rounded-t px-4 py-2
             flex justify-between items-center">

            <h3 class="flex justify-content-center items-center font-semibold text-sm">
                End of game
            </h3>

            <button @onclick="OnAccepted"
                    class="text-white font-semibold outline-none focus:outline-none">
                <svg class="w-6 h-6 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z">
                    </path>
                </svg>

            </button>

        </div>
        <!-- modal body -->
        <div class="px-6 py-3">

            <div class="mb-4 flex flex-col items-center">
                <div class="w-full flex justify-around items-center mb-4">
                    <span class="font-semibold whitespace-nowrap text-sm">
                        Score: @Game.Points()/100
                    </span>

                    <span class="font-semibold font-mono whitespace-nowrap lg:tracking-wider text-normal lg:text-2xl">
                        Time: @time?.ToString()
                    </span>
                </div>

                <div class="flex justify-end items-center mb-3 ">
                    <input type="text" class="block w-full border rounded py-3 px-4 outline-none focus:border-blue-300"
                           @bind="name" placeholder="Insert your name" />
                </div>

                <div class="text-yellow-600 italic mb-4">
                    @message
                </div>

                <div class="border">
                    <div class="p-4 bg-white border-b border-gray-200 font-bold uppercase">
                        @achievementsHeader
                    </div>
                    <div class="p-4 grid grid-cols-1 md:grid-cols-2 gap-2 bg-white border-b border-gray-200">
                        @if (achievements != null)
                        {
                            @foreach (var achievement in achievements)
                            {
                                <Achievement InnerAchievement="achievement" UnlockerScores="new List<Core.Score>() { score }" />
                            }
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@code {

    private Core.Time time;
    private string name;
    private string message;
    private string achievementsHeader = "No achievements unlocked";

    private List<Core.Achievement> achievements;
    private Core.Score score;

    [Parameter]
    public bool Hidden { get; set; }

    [Parameter]
    public EventCallback OnModalAccepted { get; set; }

    [CascadingParameter]
    public Core.Game Game { get; set; }

    protected override void OnInitialized()
    {
        achievements = new List<Core.Achievement>();
    }

    private async Task OnAccepted()
    {
        if (!string.IsNullOrWhiteSpace(name))
        {
            message = "";
            Hidden = true;
            var score = new Core.Score(new Core.Player(name), Game.Points(), time);
            await repository.AddScore(score);
            await OnModalAccepted.InvokeAsync(null);
        }
        else message = "You must enter a valid name";
    }

    public async Task Show(Core.Time time)
    {
        Hidden = false;
        this.time = time;
        foreach (var achievement in await GetAvaliableAchievements())
        {
            if (achievement.TryToUnlockAchievement(Game.Points(), time))
            {
                achievementsHeader = "Achievements unlocked!";
                achievements.Add(achievement);
            }
        }
    }

    private async Task<IEnumerable<Core.Achievement>> GetAvaliableAchievements()
    {
        var scores = await repository.GetScores();
        var achievements = new List<Core.Achievement>();
        foreach (var achievement in Core.AchievementFactory.Achievements)
        {
            if (!scores.Any(x => achievement.TryToUnlockAchievement(x)))
            {
                achievements.Add(achievement);
            }
        }
        return achievements;
    }

}
