<button disabled="@(!Enabled)" @onclick="ButtonClicked"
        class="
        flex justify-center items-center uppercase bg-white
        @GetColor font-semibold
        @(Enabled ? "hover:text-white" : "") py-2 px-6 border-2 rounded-lg outline-none focus:outline-none
        @(Enabled ? "" : "cursor-not-allowed opacity-50")">
    @ChildContent
</button>
@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }

    [Parameter]
    public string Color { get; set; }
    private string GetColor => string.IsNullOrWhiteSpace(Color) ? 
        $"text-green-600 {(Enabled ? "hover:bg-green-600" : "")} border-green-600" :
        $"text-{Color} hover:bg-{Color} border-{Color}";

    [Parameter]
    public bool Enabled { get; set; } = true;

    private async Task ButtonClicked()
    {
        await OnClick.InvokeAsync(null);
    }
}
